/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

$ff-josefin: "Josefin Sans", sans-serif;

html {
  font-size: 62.5%;
}
/* Links */
a {
  text-decoration: none;
}
/* Lists */
li {
  list-style: none;
}
/* Images */
img {
  width: 100%;
}
h1 {
  font-weight: weight("semi-bold");
  font-size: 4rem;
  color: $dark-grayish-red;
  letter-spacing: 10.83px;
  line-height: 4.2rem;
  text-transform: uppercase;
}
p {
  color: $desaturated-red;
  font-weight: weight("light");
  font-size: 1.4rem;
  line-height: 2.2rem;
}
span {
  font-weight: weight("light");
  color: $desaturated-red;
  text-transform: uppercase;
}
::placeholder {
  opacity: 50%;
  font-family: $ff-josefin;
  font-size: 1.4rem;
}
