@import "resets";
@import "functions";
@import "variables";
@import "typography";
@import "inputs";
@import "buttons";
@import "forms";

/* Body */
body {
  font-family: $ff-josefin;
  line-height: 1.5;
  font-size: 1.6rem;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}
/* Card Component */
.card {
  text-align: center;
  margin: 0 3.8rem;

  .card__heading {
    margin-bottom: 1.6rem;
  }

  .card__text {
    margin-bottom: 3.2rem;
  }
  .error {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    right: 25%;
  }
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
