@import "resets";
@import "functions";
@import "variables";
@import "typography";
@import "inputs";
@import "buttons";
@import "forms";
@import "hidden";

/* Body */
body {
  font-family: $ff-josefin;
  line-height: 1.5;
  font-size: 1.6rem;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}
/* Container */
.container {
  display: grid;
  justify-items: left;
  align-items: center;
  position: relative;

  @media screen and (min-width: $x-small) {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
}
/* Heading */
.heading {
  margin: 3.1rem auto 3.2rem 3.2rem;

  @media screen and (min-width: $large) {
    margin: 7.5rem auto 10rem 16.5rem;
  }

  .logo {
    width: 10rem;
    height: 2.1rem;

    @media screen and (min-width: $x-small) {
      width: 15.8rem;
      height: 3.3rem;
    }
  }
}
.heading-image {
  @media screen and (min-width: $x-small) {
    grid-row: 1 / 3;
    grid-column: 2;
    margin: auto;
  }
}
/* Card Component */
.card {
  text-align: center;
  margin: 0 3.8rem;

  @media screen and (min-width: $x-small) {
    text-align: left;
    width: 43%;
    margin: 0 auto auto 16.5rem;
  }

  @media screen and (min-width: $large) {
    margin: 0 auto auto 16.5rem;
  }

  .card__heading {
    margin-bottom: 1.6rem;
  }

  .card__text {
    color: $desaturated-red;
    font-weight: weight("light");
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-bottom: 3.2rem;

    @media screen and (min-width: $x-small) {
      font-size: 1.6rem;
      line-height: 2.8rem;
    }
  }

  .error {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    right: 25%;

    @media screen and (min-width: $large) {
      right: 28%;
    }
  }

  .error-message {
    text-align: left;
    font-weight: weight("regular");
    font-size: 1.3rem;
    color: $soft-red;
    padding-left: 2.2rem;
    margin-top: 0.5rem;

    @media screen and (min-width: $x-small) {
      padding-left: 1.2rem;
    }
    @media screen and (min-width: $small) {
      padding-left: 2.7rem;
    }
  }
}

/* Footer */
.attribution {
  margin-top: 10rem;
  font-size: 1.1rem;
  text-align: center;

  @media screen and (min-width: $x-small) {
    font-size: 1.5rem;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* background pattern */
.bg-pattern {
  display: block;
  position: absolute;
  width: 55%;
  height: 100%;
  z-index: -1;

  @media screen and (max-width: $large) {
    display: none;
  }

  @media screen and (min-width: $large) {
    width: 80%;
  }
}
